<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510881295141-cqu25idn0me98o37ciuuc18bh58235d2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510881295141-cqu25idn0me98o37ciuuc18bh58235d2</string>
	<key>API_KEY</key>
	<string>AIzaSyC3uu5wNpix2aZrQ6r3U9cfuzJ1CkzwdtA</string>
	<key>GCM_SENDER_ID</key>
	<string>510881295141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mutascu.bild</string>
	<key>PROJECT_ID</key>
	<string>anton-e18e5</string>
	<key>STORAGE_BUCKET</key>
	<string>anton-e18e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510881295141:ios:8a6315a7fd69e2b11448cc</string>
	<key>DATABASE_URL</key>
	<string>https://anton-e18e5.firebaseio.com</string>
</dict>
</plist>